body {
  font-size: 10px;
  background: url(https://unsplash.it/1500/1000?image=881&blur=5);
}

.keys-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 2rem;
}

.key {
  width: 4rem;
  border: 0.2rem solid black;
  padding: 0.4rem;
  border-radius: 0.4rem;
  margin: 0.8rem;
  transition: all 0.7s;
}

kbd {
  display: block;
  font-size: 1.6rem;
}
.sound {
  color: rgb(255, 187, 0);
}

.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}
